.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;

  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

.button-cart {
  padding: 8px 12px;
  background-color: rgb(26, 147, 171);
  color: white;
  align-self: flex-end;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
}
.button-cart:hover {
  border: 2px solid rgb(26, 147, 171);
  color: rgb(26, 147, 171);
  background-color: white;
  transition: all 1s ease-in;
}

.remove-msg {
  align-self: flex-end;
  margin-bottom: 5px;
}
.cart-summary {
  display: flex;
  flex-direction: row;

  align-self: flex-end;
  margin-top: 20px;
}
